.card {
  background: linear-gradient(to bottom, #00B4D8 0%, #2A628F 100% );
  color: white; /* ensure text is readable */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}